# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Pipenv artifacts
Pipfile.lock

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Data and outputs
data/
audio/
*.npy
*.wav
*.png
*.jpg

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environment
.env
.venv/

output-pics/